fastapi
uvicorn[standard]
SQLAlchemy>=2.0
greenlet
asyncpg
alembic
python-jose[cryptography]
python-multipart
pydantic[email]
pydantic-settings
pandas
openpyxl
fastapi
uvicorn
sqlalchemy
asyncpg
bcrypt==3.2.2
passlib[bcrypt]==1.7.4
